:root {
    font-size: 65.5%;
    /* % = 10px */
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-size: 1.6rem;
    font-family: "Roboto", sans-serif;
    color: #FFFFFF;
}

body {
    background-color: #0e0618;
}

header {
    display: flex;
    justify-content: center;
}

.nav-menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 50%;
    padding: 20px 20px;
    width: 1580px;
}

.nav-menu img {
    width: 80px;
    height: 80px;
    border-radius: 999px;
    border: 1px solid #520fa3;
    transition: 300ms;
}

.nav-menu img:hover {
    transform: scale(1.1);
    cursor: pointer;
    transition: 300ms;
}

.nav-menu ul {
    display: flex;
    gap: 20px;
    align-items: center;
    list-style-type: none;
}

.nav-menu ul li a {
    text-decoration: none;
    font-size: 2rem;
    font-weight: 700;
    transition: 300ms;
    color: #ffffff;
}

.nav-menu ul li a:hover {
    cursor: pointer;
    color: #af8add;
    transition: 600ms;
}

.logo-content a img{
    width: 120px;
    height: 120px;
}
.content-card * {
    color: #000;
}
.betting-house-info {
    display: flex;
    flex-direction: row;
    background-color: #FFFFFF;
}