@import url(./styleDefault.css);

:root {
    font-size: 65.5%;
    /* % = 10px */
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-size: 1.6rem;
    font-family: "Roboto", sans-serif;
    color: var(--secondary-color);
}

body {
    background-color: var(--background-body);

}

header {
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: var(--background-header);
    min-width: 300px;
    box-sizing: border-box;
}

.nav-menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 20px;
    max-width: 1024px;
    margin: 0 auto;
}

.nav-menu img {
    width: 80px;
    height: 80px;
    border-radius: 999px;
    border: 1px solid #520fa3;
    transition: transform 300ms, cursor 300ms;
}

.nav-menu img:hover {
    transform: scale(1.1);
    cursor: pointer;
}

.nav-menu ul {
    display: flex;
    gap: 20px;
    align-items: center;
    list-style-type: none;
}

.nav-menu ul li a {
    text-decoration: none;
    font-size: 2rem;
    font-weight: 700;
    transition: color 300ms;
    color: var(--link-color);
}

.nav-menu ul li a:hover {
    cursor: pointer;
    color: var(--link-hover-color);
    transition: color 600ms;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 285px;
    background-color: var(--card-background);
}

.title-description {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 2rem;
    font-family: "Roboto", serif;
    padding: 2rem;
    background-color: var(--background-header);
}

.title-description h1 {
    text-align: center;
    font-size: 4rem;
}

.title-description p {
    font-size: 1.5rem;
    font-weight: 500;
    text-align: justify;
}

.container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 0.5rem 1.5rem;

}

.content-card {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    cursor: pointer;
}

.content-card * {
    color: #000;
}

.betting-house-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    background-color: var(--betting-house-background);
    max-width: 100%;
    border-radius: 10px;
    padding: 0 2rem;
    transition: all 500ms;
}

.betting-house-info:hover {
    transform: scale(1.1);
    transition: all 500ms;
    border: var(--betting-house-border) solid 3px;
    border-radius: 10px;
}

.betting-house-info .logo-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
    padding-top: 1rem;
}

.logo-section .logo-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 150px;
    max-height: 120px;
}

.logo-content a img {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 150px;
    height: 80px;
    object-fit: cover;
}

.bonus-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}

.bonus-content {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.bonus-section .bonus-amount {
    font-size: 3rem;
    font-weight: 700;
    color: var(--bonus-amount-color);
}

.bonus-section .bonus-description {
    font-size: 1.6rem;
    font-weight: 500;
    color: #000000;
}

.bonus-section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bonus-section div a {
    display: none;
}

.bonus-details {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
}

.bonus-detail {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    margin: 0 10px;
}

.bonus-detail div {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 0.5rem;
    padding: 0 2px;
    border-right: solid 1.5px rgb(224, 224, 224);
    line-height: 1;
}

.bonus-detail div span:nth-child(1) {
    font-weight: 700;
}

.bonus-detail span {
    font-size: 1.2rem;
}

.desktop-rating-content {
    display: none;
}

.visit-button-content {
    width: 100%;
}

.desktop-rating-section .desktop-rating-content p {
    color: #b1b0b0;
    font-size: 1.2rem;
}

.visit-button-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-bottom: 2rem;
}

.rating-info .rating-number {
    font-size: 3rem;
    font-weight: 700;

}

.visit-button-section .cta-casino {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50px;
    background-color: var(--visit-button-background);
    color: #ffffff;
    font-size: 1.6rem;
    font-weight: 700;
    border-radius: 10px;
    text-decoration: none;
    transition: background-color 300ms, cursor 300ms;
}

.visit-button-section .cta-casino:hover {
    background-color: var(--visit-button-hover-background);
    cursor: pointer;
}

.stars-container .stars i {
    color: #5508b4;
}

.bonus-link {
    display: none;
}

.help-informations {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 2rem;
    font-family: "Roboto", serif;
    padding: 2rem;
    background-color: var(--help-info-background);

}

.help-content {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    padding: 2rem;
    gap: 2rem;
  
}
.help-content * {
    color: #fff;
}
.help-content h2 {
    text-align: center;
    font-size: 3rem;
}

.help-content p {
    font-size: 1.5rem;
    font-weight: 500;
    text-align: justify;
    max-width: 1024px;
}

.help-content h3 {
    font-size: 3rem;
    font-weight: 700;
    
}


footer {
    background-color: var(--footer-background);
    color: var(--footer-text);
    padding: 20px;
    display: flex;
    justify-content: space-between;
}

.security-badges img {
    margin-right: 10px;
}

.privacy-policy a {
    color: var(--privacy-link-color);
    text-decoration: none;
}

.privacy-policy a:hover {
    text-decoration: underline;
}

.contact-info p {
    margin: 0;
}

.contact-info a {
    color: #fff;
    text-decoration: none;
}

.contact-info a:hover {
    text-decoration: underline;
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
    .container {
        flex-direction: row;
        flex-wrap: wrap;

    }

    .content-card {
        flex: 1;
    }

    .help-informations {
        align-items: center;
    }
}


@media only screen and (min-width: 1024px) {

    .title-description {
        justify-content: center;
        align-items: center;
        width: 100vw;
    }

    .title-description h1 {
        max-width: 1024px;
    }

    .title-description p {
        max-width: 1024px;
        text-align: justify;
    }

    .container {
        justify-content: center;
        align-items: center;
    }

    .content-card {
        max-width: 80%;
    }

    .betting-house-info {
        flex-direction: row;
    }

    .betting-house-info .logo-section {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 16%;
    }

    .bonus-section {
        width: 50%;
    }

    .bonus-content {
        padding-bottom: 2rem;
    }

    .desktop-rating-section {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 16%;
    }

    .desktop-rating-info span:nth-child(1) {
        font-size: 3rem;
        font-weight: 700;
    }

    .visit-button-section {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 16%;
    }

    .desktop-rating-content-mobile {
        display: none;
    }

    .desktop-rating-content {
        display: block;
    }

    .help-informations {
        justify-content: center;
        align-items: center;
        width: 100vw;
    }

    .help-informations h2 {
        max-width: 1024px;
    }

    .help-informations p {
        width: 62vw;
        text-align: justify;
    }
}



.help-informations {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px 0;
}

.help-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 75%;
}

.help-content h2 {
  font-size: 3rem;
  text-align: center;
  margin-bottom: 20px;
}

.help-content h3 {
  font-size: 2rem;
  margin-bottom: 10px;
}

.help-content p {
  font-size: 1.6rem;
  line-height: 1.5;
  text-align: justify;
  margin-bottom: 20px;
}

@media (max-width: 768px) {
  .help-content {
    width: 100%;
  }
}